@model Pie

<hr />
<div>
    Name : <a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a>
</div>
<div>Price : @Model.Price</div>
<div>Description : @Model.ShortDescription</div>
<a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">Add To Cart</a>
